/* Restablece el margen y el padding por defecto */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo básico del body */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
}

/* Contenedor de la app */
.app-container {
    max-width: 380px;
    margin: auto;
    background: #ffffff;
    border-radius: 20px;
    font-size: 16px;
    overflow: hidden;
}

/* Encabezado */
.app-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 2px solid #eaeaea;
}

/* Iconos de acción del encabezado */
.header-action {
    font-size: 24px;
    cursor: pointer;
}

/* Título del encabezado */
.app-title {
    font-weight: bold;
    text-align: center;
    flex: 1;
}

/* Barra de navegación inferior */
.bottom-nav {
    display: flex;
    justify-content: space-around;
    padding: 1rem 0;
    background: #f8f8f8;
}

/* Iconos de la barra de navegación */
.nav-icon {
    text-align: center;
    flex-grow: 1;
}

/* Estilo de los íconos de navegación */
.icon {
    font-size: 20px;
    display: block;
    margin-bottom: 5px;
}

/* Contenedor del menú desplegable */
.menu-dropdown {
    display: none;
    position: absolute;
    top: 58px;
    left: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 8px;
    overflow: hidden;
}

/* Elementos del menú desplegable */
.dropdown-content {
    display: flex;
    flex-direction: column;
}

/* Ítems del menú */
.menu-item {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: black;
    border-bottom: 1px solid #ddd;
}

/* Estilo para cuando se muestra el menú */
.show {
    display: block;
    animation: fadeIn 0.3s;
}

/* Animación de entrada */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* Estilos para el modal */
.modal {
    display: none;
    /* Oculto por defecto */
    position: fixed;
    /* Se queda fijo en la pantalla */
    z-index: 1000;
    /* Se asegura de que esté sobre el resto del contenido */
    left: 0;
    top: 0;
    width: 100%;
    /* Ancho completo */
    height: 100%;
    /* Altura completa */
    background-color: rgba(0, 0, 0, 0.4);
    /* Negro con opacidad */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    /* Agrega espacio alrededor del contenido para evitar que toque los bordes */
}

/* Contenido del modal */
.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 100%;
    max-width: 500px;
    /* Ancho máximo del contenido */
    max-height: calc(100vh - 100px);
    /* Altura máxima del contenido */
    overflow-y: auto;
    /* Permite desplazamiento vertical si el contenido es más largo */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    /* Necesario para posicionar el botón de cerrar */
    border-radius: 10px;
    /* Bordes redondeados */
}

/* El botón cerrar (x) */
.close-button {
    color: #aaa;
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content h2 {
    padding-bottom: 10px;
}


/* Reset básico para garantizar que el estilo sea consistente en diferentes navegadores */



/* Estilos globales */
.body-js {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    line-height: 1.6;
    color: #ccc;
    background-color: #333;
    padding: 20px;
}

/* Encabezado y navegación */


/* Botones */
.button {
    background-color: #555;
    /* Dark grey */
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.button.secondary {
    background-color: #666;
}

.button:hover {
    background-color: #777;
}

/* Tablas responsivas */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: #222;
    color: #ccc;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #555;
}

@media (max-width: 600px) {

    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }

    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        border: 1px solid #444;
    }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #555;
        position: relative;
        padding-left: 50%;
        text-align: right;
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
    }

    /* Label the data */
    td:nth-of-type(1):before {
        content: "Column 1:";
    }

    td:nth-of-type(2):before {
        content: "Column 2:";
    }

    td:nth-of-type(3):before {
        content: "Column 3:";
    }

    td:nth-of-type(4):before {
        content: "Column 4:";
    }

    td:nth-of-type(5):before {
        content: "Column 5:";
    }
}

/* Responsive adjustments */
@media (max-width: 480px) {
    .app-header {
        padding: 10px;
    }

    .button {
        width: 100%;
        padding: 10px 0;
    }

    .menu-item,
    .header-action {
        font-size: 18px;
    }
}



.img-alea{
    width: 100%;
}